{{> head }}
{{> navbar }}

<div class="row">

    <div class="col-8">
        <h1>Escudo Capitan America</h1>
        <P>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero sint quas veritatis est officia dicta vel obcaecati ipsum nulla! Veritatis ut ullam tenetur quam omnis doloremque aperiam molestiae minus saepe!
        </P>
    </div>

    <div class="col-4">
        <img src="/assets/img/logo.png" class="img-thumbnail">
    </div>

</div>

{{> footer }}